.env
**/.env
.vscode
.idea

db/*

/*.html

*.csv
*.xlsx

models/

.pytest_cache
__pycache__
__pycache__/
/__pycache__/
**/__pycache__
**/**/__pycache__
**/**/**/__pycache__
**/**/**/**/__pycache__
**/__pycache__/
**/*.pyc
*.pyc
**/*.pyo
*.pyo

TEST

*Zone.Identifier

.TODO

*.zip

/config.json

docker/dbes/scripts/db

*.session
*.session-journal

.mypy_cache
