### БД
# Порт встроенной базы данных MongoDB:
MONGO_PORT=

### ПЕРЕДАЧА ДАННЫХ
# Сервер очередей, имя пользователя
QUEUE_SERVER_USERNAME=
# Сервер очередей, пароль
QUEUE_SERVER_PASSWORD=
# Порт для ARROW сервера для обмена данными:
ARROW_SERVER_PORT=

### ИНТЕРФЕЙС
# Порт, по которому будет происходить доступ к API приложения:
FASTAPI_PORT=

### МОНИТОРИНГ
# Порт веб интерфейса (и сборщика) мониторинга всего сервиса:
PROMETHEUS_PORT=
# Порт сервиса мониторинга ресурсов:
CADVISOR_PORT=
# Порт сервиса предупреждений:
ALERTMANAGER_PORT=
# Порт сборщика предупреждений:
ALERTA_PORT=

# Порт для Экспертной Системы и Базы Знаний:
DBES_PORT=

# Порт для WEB GUI DBES (нужен 3030):
ESGUI_PORT=
